/*
font-family: 'Vidaloka', serif;
font-family: 'Prata', serif;
font-family: 'Lusitana', serif;
*/

html {
    margin: 0% 10%;
}

h1, h2 {
    text-align: center;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    margin: 2% 0% 1%;
}

h2 {
    font-size: 1.5rem;
    margin: 1% 0% 1%;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    display: block;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #007F1D;
}

a:hover {
    color: #CC1D00;  
}

ul {
    margin: auto;
    width: 90%;
}

img {
    max-width: 100%;
    height: auto;
}

sup {
    font-size: 75%;
    top: -0.5em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

nav ul li {
  display: inline-block;
  margin: 5%; 
}

nav ul li a {
    text-decoration: none;
    margin: 5%;
    color: chocolate;
    font: 1.3rem;
}

nav ul li a:hover, .dropdown-items a:hover {
    text-decoration: visible;
    background-color: lightgoldenrodyellow;
}






















