/*
font-family: 'Vidaloka', serif;
font-family: 'Prata', serif;
font-family: 'Lusitana', serif;
*/
html {
    height: 100%;
}

body {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin: 2% auto 1%;
    font-weight: 600;
    padding-top: 30px;
}

h2 {
    font-size: 2rem;
    font-weight: 200;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    font-weight: 400; 
}

a:hover {
    color: #CC1D00;  
}

img {
    max-width: 100%;
    height: auto;
}

sup {
    font-size: 75%;
    top: -0.5em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.navigationDiv {
    background-color: #B2A38A;
}

nav ul li {
    display: inline-block;
    margin: 8px; 
}

nav ul li:first-child {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    margin: 5%;
    color: white;
    font-weight: 400;
}

nav ul li a:hover, .dropdown-items a:hover {
    text-decoration: visible;
    background-color: #633200;
    color: white;
    height: 100%;
    width: 100%;
    font: 1.5rem;
    padding: 7px 2%;
}

.index-background-image {
    background: url('../images/CatawbaRiver.JPG');
    width: 120%;
    height: 100px;
    display: block;
    margin-bottom: 20px;
    margin-left: -6%;
    opacity:.98;
}

.stickyFooter {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footerWrapper {
    flex:1;
}

footer {
    width: 100%;
    text-align: center;
}

footer a img {
    display: inline-block;
    opacity: .99;
    width: 40px;
    vertical-align: bottom;
    margin: 50px 5px;
}

footer a img:last-child {
    border-radius: 50%;
}

@media only screen and (max-device-width: 568px){
    html, body {
        width: 97%;
        margin: 0px;
    }
    nav ul li:first-child {
        margin-left: 0px; 
    }
    nav ul li {
        margin: 5px 7px;
    }
    h1 {
        font-size: 2rem;
        margin: -20px auto 10px;
    }
     .index-background-image {
        width: 92%;
        display: block;
        opacity: .98;
        height: auto;
        margin-bottom: 2px;
        margin-left: 3%;
    }
    nav ul li a {
        margin: 0% 10px;
    }
    footer a img {
        margin: 10px 3px;
        width: 30px;
    }
}

@media only screen and (min-device-width: 569px) and (max-device-width: 1024px){
    
    .index-background-image {
        width: 100%;
        margin-left: 0%;
    }
}











