/* --------- Resume Specifications ---------- */

h1 {
    margin-bottom: 12px;
}

h1, .resume-box-shadow {
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 0px #888888;
    padding-bottom: 12px;
}

h2 {
   margin: 12px 0px;
    font-weight: 600;
}

h3 {
    width: 100%;
}

h4 {
    display: inline-block;
    margin: 6px 0px 4px;
    width: 100%;
}

a {
    color: #007F1D;
    font-weight: 700;
}

.resume-header {
    display: inline-block;
    text-align: center;
    margin: 0% 3%;
    font-weight: 200;
}

.resume-header {
    margin: 0% 6%;
    text-align: center;
}

.resume-right {
    float: right;
}

.resume-list {
    list-style-type: square;
    margin: 0px 0px 0px 70px;
}

.resume-italics {
    font-style: italic;
}

.resume-list {
    margin-bottom: 20px;
}

@media only screen and (max-device-width: 568px){
    body {
    width: 100%;
    margin: 6% 1%;
    }
    .resume-italics {
        font-size: 1.4rem;
    }
}

/* ----------- Galaxy S5 ----------- */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
      html, body {
          width: 98% !important;
      }
}

/* ----------- Nexus 6p ----------- */
/* Landscape */
@media only screen
    and (min-width: 412px)
    and (max-width: 732px)
    and (orientation:landscape){
    body {
        width: 97% !important;
    }
}

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      body {
        width: 97% !important;
      }
}

/* ----------- iPhone 6 ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
      .index-background-image {
          margin: -6% 0% !important;
    } 
}