/* --------- Resume Specifications ---------- */
h1 {
    margin-bottom: 12px;
}

h1, .resume-box-shadow {
    border-bottom: 1px solid black;
    box-shadow: 0px 2px 0px #888888;
    padding-bottom: 12px;
}

.resume-header {
    display: inline-block;
    text-align: center;
    margin: 0% 3%;
    font-weight: 200;
}

.resume-header[0] {
    margin-left: 15%;
}

.resume-list {
    list-style-type: square;
}

ul.resume-list li:last-child {
    margin-bottom: 1.5%;
}

.resume-italics {
    font-style: italic;
    display: block;
}

.resume-right { 
    float: right;
    display: block;
}

.resume-left {
    float: left;
    display: block;
}

@media only screen and (max-device-width: 568px){
    .resume-italics {
        font-size: 1.4rem;
    }
}