html {
    margin: 0% 10%;
}

h1, h2 {
    text-align: center;
    margin: 2% 0% 1%;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem; 
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

hr {
    box-shadow: 2px 2px 1px #888888;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #007F1D;
}

a:hover {
    color: #CC1D00;  
}

ul {
    margin: auto;
    width: 90%;
}

sup {
    font-size: 75%;
    top: -0.5em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

nav ul li {
  display: inline-block;
  margin: 5%; 
}

nav ul li a {
    text-decoration: none;
    margin: 5%;
    color: chocolate;
    font: 1.3rem;
}

nav ul li a:hover, .dropdown-items a:hover {
    text-decoration: visible;
    background-color: lightgoldenrodyellow;
}

/* --------- Resume Specifications ---------- */

.resume-header {
    display: inline-block;
    text-align: center;
    margin: 0% 3%;
    font-weight: 200;
}

.resume-header[0] {
    margin-left: 15%;
}

.resume-list {
    list-style-type: square;
}

ul.resume-list li:last-child {
    margin-bottom: 1.5%;
}

.resume-italics {
    font-style: italic;
}

.resume-right { 
    float: right;
}

.resume-left {
    flaot: left;  
}

@media only screen and (max-device-width: 568px){
    .resume-italics {
        font-size: 1.4rem;
}
}
