/*
body {
	font-family: sans-serif;
	background: #384047;
}
h1 {
	color: #fff;
	text-align: center
}

ul {
	list-style:none;
	margin: 0 auto;
	padding: 0;
	display: block;
	max-width: 780px;
	text-align: center;
}
ul li {
	display: inline-block;
	padding: 8px;
	background:white;
	margin:10px;
}
ul li img {
	display: block;
}
a {
	text-decoration: none;
}

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
 margin-top: 10%; 
}

#overlay p {
 color:white; 
}
*/


html {
    margin: 0% 10%;
}

h1, h2 {
    text-align: center;
    margin: 2% 0% 1%;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem; 
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

hr {
    box-shadow: 2px 2px 1px #888888;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #007F1D;
}

a:hover {
    color: #CC1D00;  
}

ul {
    margin: auto;
    width: 90%;
}

sup {
    font-size: 75%;
    top: -0.5em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

nav ul li {
  display: inline-block;
  margin: 5%; 
}

nav ul li a {
    text-decoration: none;
    margin: 5%;
    color: chocolate;
    font: 1.3rem;
}

nav ul li a:hover, .dropdown-items a:hover {
    text-decoration: visible;
    background-color: lightgoldenrodyellow;
}

/* --------- Resume Specifications ---------- */

.resume-header {
    display: inline-block;
    text-align: center;
    margin: 0% 3%;
    font-weight: 200;
}

.resume-header[0] {
    margin-left: 15%;
}

.resume-list {
    list-style-type: square;
}

ul.resume-list li:last-child {
    margin-bottom: 1.5%;
}

.resume-italics {
    font-style: italic;
}

.resume-right { 
    float: right;
}

.resume-left {
    flaot: left;  
}

@media only screen and (max-device-width: 568px){
    .resume-italics {
        font-size: 1.4rem;
}
}

/* --------- Gallery Specifications ---------- */

/*
font-family: 'Vidaloka', serif;
font-family: 'Prata', serif;
font-family: 'Lusitana', serif;
*/

#gallery {
    background-color: #C5DFFF;
} 

#imageGallery {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
	max-width: 90%;
	text-align: center;
}

figure {
    width: 20%;
    margin: 2.5%;
}

figure img, figcaption {
    box-shadow: 5px 5px 6px #56697F;
    margin: 0 auto;
    width: 100%;
}

figure img {
    display: inline-block;
	padding: 5px;
	background: white;
	margin: 18px 0px 0px;
}

figcaption {
    text-align: center;
    font-family: 'Lusitana', serif;
    padding: 2.5%;
    margin-top: -1.5%;
    word-wrap: normal;
    background-color: #005DCC;
    color: white;
    opacity: .8;
    display: inline-block;
}

























